//color
$white : #fff;
$blue:#4fa1aa;
$blue_1:#1798ac;
$blue_2:#0561ac;
$blue_3:#0f3b4b;
$blue_4:#144d5e;
$gray_1:#b4dada;
$gray_2:rgb(138, 136, 136);
$gray_3:rgb(231, 231, 231);
$darkgray: darkgray;
$black:rgb(27, 26, 26);
